input {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding: 0;
  height: 40px;
  text-align: center;
  font-size: 14px;
  border: none;
  border-top: 2px solid var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-primary);
  outline: none !important;
  color: #333333;
  transition: color 0.2s;
  width: 100%;

  &.disabled {
    opacity: 0.5 !important;
  }
}
